* {
    margin: 0;
    padding: 0;
    background-color: black;
}

.main-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.anchor-base {
    text-align: center;
    margin-top: 25px;
}

.link-a {
    color: aquamarine;
    font-size: 16px;
}
.main-video-section {
    width: 100%;
    padding-top: 30px;
    text-align: center;
}


.sub-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}
.desc-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: gray;
    text-align: center;
}
.photo-container-a {
    text-align: center;
    padding-top: 15px;
}
.cr {
    margin: 12px 10px 2px 0;
    text-align: right;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 12px;

}